.navigator {
  background-color: var(--clr-white);
  border-radius: 10px;
  box-shadow: var(--shadow-light);
  flex: 0.4;
  height: fit-content;
  padding: 1rem;
  position: fixed;
  bottom: 1rem;
  width: calc(100% - 2rem);

  .steps {
    display: flex;
    align-items: center;

    .step {
      padding: 0.3rem 0.5rem;
      border-radius: 20px;
      color: var(--clr-white);
      background-color: var(--clr-primary);
      font-weight: 700;
      font-size: 14px;
    }

    .devider {
      height: 0.5rem;
      flex: 1;
      background-color: var(--clr-primary);
    }
  }
}
