.header {
    width: 100%;
    position: fixed;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.linkWrapper {
    padding: 10px;
    width: 46px;
    height: 46px;
}