.about {
  padding-top: 5rem;
  h1 {
    font-size: 30px;
    color: var(--col-primary);
    font-family: "Teko", sans-serif;
  }

  .links {
    margin-top: 2rem;
    display: flex;

    a {
      margin-right: 1rem;
      .iconWrapper {
        margin-right: 5px;
      }
    }
  }
}
