html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  /* Colors */

  --col-primary: rgb(37, 192, 158);
  --col-light-bg: #C9D8B6;
  --col-dark-grey: #313030;
  
  --clr-sand: #F1ECC3;
  --clr-sand-light: #d3d0bc;

  --clr-primary: rgb(37, 192, 158);
  --clr-white: white;
  --clr-grey-text: #4b465e;
  /* --clr-lightgrey-bg: #f8f8f8; */
  --clr-lightgrey-bg: #f1f3f6;
  --clr-black-50: rgba(0, 0, 0, 0.479);

  background-color: var(--col-lightgrey-bg);

  /********* Shadows *********/
  --shadow-light: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1rem;
}

.container-small {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}