html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  /* Colors */

  --col-primary: rgb(37, 192, 158);
  --clr-primary: rgb(37, 192, 158);
  --col-light-bg: #C9D8B6;
  --col-dark-grey: #313030;

  --clr-sand: #F1ECC3;

  background-color: var(--col-light-bg);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}