.addProduct {
    width: 100%;
    display: flex;

    form {
        width: 50%;
        background-color: white;
        border-radius: 10px;
        padding: 20px;
        box-shadow: var(--shadow-light);

        h4 {
            margin-bottom: 20px;
        }

        h5 {
            margin-bottom: 10px;
        }

        .compoundInput {
            display: flex;

            div {
                flex: 1;

                &:nth-child(2) {
                    margin-left: 20px;
                }
            }
        }
    }
}

.input {
    display: flex;
    flex-direction: column;

    label {
        margin-bottom: 5px;
        font-size: 14px;
    }

    input {
        width: 100%;
        margin-bottom: 20px;
        font-size: 14px;
        border-radius: 5px;
        padding: 10px;
        border: 1px solid grey;
    }

    select {
        width: 100%;
        margin-bottom: 20px;
        font-size: 14px;
        border-radius: 5px;
        padding: 10px;
        border: 1px solid grey;

        option {
            font-size: 14px;
        }
    }
}