.header {
  position: fixed;
  width: 100vw;
  z-index: 1;

  form {
    width: 100%;
    display: flex;
    padding: 1rem 0;
    align-items: center;

    input {
      flex: 1;
      margin: 0 1rem;

      border: 2px solid var(--clr-grey-text);
      outline: none;
      padding: 0 0.5rem;
      color: var(--clr-grey-text);
      flex: 1;
      height: 40px;
      border-radius: 8px;
      font-size: 16px;
      border: 2px solid var(--clr-lightgrey);

      &:focus {
        border: 2px solid var(--clr-primary);
      }
    }
  }

  box-shadow: var(--shadow-light);
  border-radius: 0 0 15px 15px;
}
