.header {
  position: fixed;
}
.images {
  height: 400px;
  width: 100%;

  img {
    margin: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
}
.actions {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 20px;
  width: 100%;

  p {
    display: inline;
    color: white;
    padding: 10px 30px;
    background-color: rgb(204, 233, 214);
    border-radius: 10px;
    font-size: 18px;
    font-weight: 800;
  }
}
