.sidebar {
    width: 200px;
}

.link {
    color: var(--col-primary);
    display: flex;
    align-items: center;
    padding: 10px;

    .iconWrapper {
        width: 20px;
        height: 20px;
    }
}

