header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
        display: flex;
    }

    .left {
        align-items: center;

        h1 {
            margin-right: 20px;
        }
    }

    .left {
        align-items: center;
        
    }
}