.sidebar {
  width: 250px;
  padding: 10px;
  position: fixed;
}

.link {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: var(--shadow-light);

  .iconWrapper {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}

.link__active {
  color: white;
  background-color: var(--col-secondary);
  box-shadow: var(--shadow-light);

  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: var(--shadow-light);

  .iconWrapper {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}
