.parent {
  background-color: white;
  padding: 20px;
  box-shadow: var(--shadow-light);
  border-radius: 10px;
  width: 700px;

  .top {
    position: relative;
    table > tr {
      height: 30px;
    }

    table > tr > .prop {
      min-width: 150px;
      font-size: 14px;
    }

    table > tr > td:nth-child(2n) {
      font-weight: 600;
    }

    .actions {
      position: absolute;
      right: 0;
      top: 0;

      display: flex;
      gap: 0.5rem;
      button {
        background-color: var(--clr-danger);
        color: var(--clr-white);
        padding: 10px;
        border-radius: 10px;
        font-size: 14px;
        font-weight: 600;
        border: none;
        outline: none;
      }
    }
  }
}
