.parent {
  width: 680px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: var(--shadow-light);

  h4 {
    margin-bottom: 10px;
  }

  .imagesContainer {
    .images {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;

      .imageHolder {
        width: 200px;
        height: 200px;
        border-radius: 10px;
        overflow: hidden;
        position: relative;

        img {
          width: 200px;
          height: 200px;
          background-color: var(--col-lightgrey-bg);
        }

        div {
          position: absolute;
          top: 5px;
          right: 5px;
          background-color: var(--col-lightgrey-bg);
          border-radius: 5px;
        }
      }

      .addImage {
        width: 200px;
        height: 200px;
        border: 6px dashed grey;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background-color: var(--col-lightgrey-bg);
      }
    }
  }

  button {
    margin-top: 20px;
  }
}
