.help {
    padding: 1.5rem;
    padding-top: 4.5rem;

    .links {
        margin-top: 2rem;
        a {
            background-color: white;
            border-radius: 99px;
            padding: 10px;
        }
    }
}