@import "../../sass/screen-media-queries.scss";

.parent > h4 {
  margin-bottom: 1rem;
}

.products {
  display: grid;
  grid-template-columns: repeat(6, calc((100% - 5rem) / 6));
}

@include phone {
  .products {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
