@import "../../sass/screen-media-queries.scss";

.product {
  border-radius: 10px;
  border: 2px solid var(--clr-lightgrey-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .left {
    display: flex;
    align-items: flex-end;

    img {
      width: 90px;
      height: 90px;
      object-fit: cover;
      border-radius: 10px;
    }

    .data {
      padding: 0.5rem;

      p {
        font-size: 14px;
      }

      h3 {
        font-size: 14px;
      }

      h4 {
        font-size: 14px;
      }
    }
  }

  .right {
    margin-right: 0.5rem;

    .actions {
      display: flex;

      .qty {
        width: 1.5rem;

        p {
          font-size: 20px;
        }
      }
    }

    p {
      font-size: 12px;
      text-align: center;
    }
  }
}

@include phone {
  .product {
    box-shadow: var(--shadow-light);
  }
}
