.input {
  display: flex;
  flex-direction: column;

  label {
    font-size: 14px;
    margin-bottom: 5px;
  }

  input {
    width: 100%;
    font-size: 14px;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    border: 2px solid var(--clr-grey);

    &:focus {
      border: 2px solid var(--clr-secondary);
    }
  }

  div {
    height: 25px;
    width: 100%;

    p {
      margin-top: 5px;
      font-size: 12px;
      color: var(--clr-danger);
    }
  }
}
