.greetings {
  width: 100%;
  padding: 1rem;
  background-color: var(--clr-white);
  border-radius: 10px;
  box-shadow: var(--shadow-light);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;

  div {
    div {
      display: flex;

      h4 {
        margin-right: 0.25rem;
      }
    }

    button {
      background-color: var(--clr-primary);
      color: var(--clr-white);
      font-size: 1rem;
      font-weight: 800;
      border: none;
      border-radius: 10px;
      padding: 0.5rem;
      outline: none;
    }
  }
}
